.cardContainer{
    border-radius: 25px;
    box-shadow:  2px 2px 6px #FFCC00,
        -2px -2px 6px #FFCC00;
    padding: 10px 5px 5px 20px;
    height: 200px;
    width: 600px;
}

.mainPage{
    display: grid;
    background-color: #8c979c;
    text-align: center;
    justify-items: center;
}

.nextQuestionButton{
    margin-top: 20px;
}

.nextBtn{
    background: #cac02f;
    border-radius: 10px;
    padding: 5px;
    font-weight: 550;
    margin: 10px;
}

.titleContainer{
    border-radius: 25px;
    background: #cac02f;
    box-shadow:  2px 2px 6px #DD0000,
        -2px -2px 6px #DD0000;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 20px;
}